img{
    margin: 10px;
}

.imagen{
    @extend img;
    max-width: 200px;
}

.block{
    display: block;
}

.centrado{
    text-align: center;
}

.contacto{
    @extend .centrado;
   }
   
.nosotros{
    @extend .centrado;
   }

.suscripcion{
       text-align: center;
       overflow: auto;
   }

.tamanio{
    height: 1680px;
    overflow: auto;
}

.center{
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 10px;
}
