$normal: 'Boogaloo', cursive;
$comica: 'Henny Penny', cursive;

.lista{
    display: inline-block;
    padding: 10px;
    
    }
    
.centrado{
        text-align: center;
    }
    
.titulo{
        font-size: 3rem;
    }
    
@mixin mixColor ($color) {
    color: $color;
}

.sinDecoracion{
    text-decoration: none;
}

.noDecoracion{
        @include mixColor(black);
        @extend .sinDecoracion;

    }

.tituloGrande{
    @include mixColor(black);
    @extend .sinDecoracion;
    font-family: $normal;
    font-size: x-large;
    }

.letraComica{
    font-family: $comica;
    @include mixColor(black);
}
    
.letraTexto{
        font-family: $normal;
        @include mixColor(black);
    }